.copyright
    .container
        .copyright__wrapper
            span.copyright__content © 2022 - <a href="#" class='copyright__link'>Privacy Policy</a> - <a href="#" class='copyright__link'>Terms and Conditions</a>