footer.footer
    .container
        .footer__wrapper
            a.footer__logo(href='#')
                img(src='../../assets/img/logo.png', alt='logo').footer__img
            .footer__location
                .footer__item
                    .footer__icon
                        .footer__icon-img
                            svg
                                use(xlink:href='./assets/img/sprite.svg#i-location')
                        .footer__icon-text
                            span.footer__text Company address: lorem ipsum dolor sit am
                            p 18600, Netherlands
                .footer__item
                    .footer__phone
                        .footer__phone-img
                            svg
                                use(xlink:href='./assets/img/sprite.svg#i-phone')
                        .footer__phone-text
                            a(href="tel:+375259354574").footer__phone-link +375 25 935 45 74
            .footer__social
                ul.footer__social-list
                    li.footer__social-item
                        a.footer__social-link(href='https://twitter.com' target='_blank')
                            svg
                                use(xlink:href='./assets/img/sprite.svg#i-twitter')
                    li.footer__social-item
                        a.footer__social-link(href='https://habr.com' target='_blank')
                            svg
                                use(xlink:href='./assets/img/sprite.svg#i-habr')
                    li.footer__social-item
                        a.footer__social-link(href='https://vk.com' target='_blank')
                            svg
                                use(xlink:href='./assets/img/sprite.svg#i-vk')